.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User-list {
  flex: 1;
  padding: 20px;
  display: flex;
  margin: 10px 10px 10px 0px;
  box-shadow: 5px 5px 18px rgb(211, 210, 214);
  border-radius: 0px 10px 10px 0px;
  /* height: 100%; */
}

.User-form {
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  margin: 10px 0px 10px 10px;
  box-shadow: 5px 5px 18px rgb(211, 210, 214);
  background-image: linear-gradient(to bottom right, rgb(157, 128, 255), rgb(161, 61, 242));
  border-radius: 10px 0px 0px 10px;
}

button {
  border-radius: 10px;
}

.expanded-btn {
  min-width: 100px;
  margin: 20px;
  padding: 10px;
}

input[type="text"], input[type="email"] {
  border-radius: 10px;
  min-width: 300px;
  min-height: 30px;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

.message {
  position: absolute;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0px 0px 5px rgb(119, 114, 136);
  padding: 5px;
  bottom: 20px;
  right: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
